*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}

body{
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main{
    height: 5vh;
    width: 60%;
}

.player-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

p, #value, #value-total, #result-message{
    font-size: x-large;
    margin-left: 0.25em;
    height: 100%;
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.dice-value,.total-score, .result{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.dice-image{
    height: 30vh;
    display: flex;
    justify-content: center;
    
    border: 2px solid green;
}

#image{
    visibility: hidden;
}

#image{
    object-fit: contain;
}

.two-panel{
    width: 70%;
    display: flex;
    justify-content: space-between;
    border: none;
}

.side-one, .side-two{
    height: 5vh;
    width: 40%;
}

button{
    width: 100%;
    height: 100%;
}

#roll-dice{
    border:0;
    box-shadow:0 0 15px 4px rgba(20, 233, 108, 0.09);
}

#roll-dice:hover{
    background-color: rgb(97, 235, 154) ;
    color: #ffffff;
}


#reset{
    border:0;
    box-shadow:0 0 15px 4px rgba(190, 19, 19, 0.09);
}

#reset:hover{
   background-color:rgb(250, 85, 85);
   color: #ffffff;
}

.result{
    height: 10vh;
    visibility: hidden;
}
.total-score, .dice-value {
    width: 40%
}
